.dashboard{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.postlist
{
    flex-basis: 30%;
    overflow: auto;
 
}

p{
    font-size: 14px;
}

.post{
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}